{{- $gitpod:= env "GITPOD_GIT_USER_NAME" | not | not -}}
{{- $name:= env "GITPOD_GIT_USER_NAME" -}}
{{- $email:= env "GITPOD_GIT_USER_EMAIL" -}}

{{- $interactive:= stdinIsATTY -}}

{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  gitpod: {{ $gitpod }}
  interactive: {{ $interactive }}