{{- $gitpod:= env "GITPOD_GIT_USER_NAME" | not | not -}}
{{- $interactive := stdinIsATTY -}}

{{- $name := "" -}}
{{- if $gitpod -}}
{{- $name := env "GITPOD_GIT_USER_NAME" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- else if hasKey . "name" -}}
{{-   $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- $email := "" -}}
{{- if $gitpod -}}
{{- $email := env "GITPOD_GIT_USER_EMAIL" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- else if hasKey . "email" -}}
{{-   $email = .email -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
  gitpod: "{{ $gitpod }}"